.banner-img {
    background-image: url(../images/about-hero.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-size: cover;
    animation: fadeIn ease-in .75s forwards;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.banner-img:before {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
.banner-section {
    padding: 165px 0 200px;
}
.banner-section .section-title {
    font-size: 4.375rem;
    color: #fff;
    margin: 0 auto;
    max-width: 65%;
}
.banner-section .sub-hero {
    color: #a7b7c7;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    margin-top: 19px;
    margin-bottom: 19px;
    font-size: 24px;
    line-height: 1.5;
}
.section-title {
    font-size: 46px;
}
.sketch {
    box-shadow: 0 6px 15px 0 rgba(99,115,107,.12), 0 2px 3px 0 rgba(0,0,0,.04);
}
.sketch img {
    border-radius: 4px;
    height: 320px;
    width: 450px;
}
.sketch-desc {
    padding: 30px 0 0 30px;
}
.team {
    margin-top: 3em;
}
.team-title {
    font-size: 60px;
    font-family: 'OmnesExtraLight', sans-serif;
}
.member {
    position: relative;
    max-width: 265px;
    margin: 0 auto;
}
.member-img {
    box-shadow: 0 3px 3px 0 #0000000d;
}
.member-img img {
    border-radius: 4px;
    transition: all .5s ease;
}
.member-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    padding-top: 25%;
    transition: all .3s ease;
    background: rgba(0,0,0,.7);
}
.member-info:hover {
    opacity: 1;
}
.member-info p {
    margin-bottom: 0;
}
.member-info .position {
    border: 1px solid #EFD469;
    border-radius: 100px;
    font-size: 12px;
    color: #EFD469;
    letter-spacing: 2.5px;
    padding: 4px 10px;
    text-transform: uppercase;
}
.member-info .member-name {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    margin: 10px 0 0;
}
.member-info .address {
    color: #fff;
    opacity: .6;
    font-family: 'OmnesExtraLight', sans-serif;
    margin: 0;
    font-size: 18px;
    line-height: 26px;
}
.member-info .social-links {
    padding-left: 0;
    margin-top: 15px;
    list-style-type: none;
}
.member-info .social-links li {
    display: inline;
    margin: 0 6px;
}
.member-info .social-links li .fab {
    font-size: 1.2rem;
    color: #fff;
}
.block {
    margin-bottom: 0;
}
.no-padding {
    padding-bottom: 0;
}
.image-list {
    margin-top: 75px;
}
.image-list .list img {
    height: 350px;
}
.list {
    padding-left: 0;
    padding-right: 0;
    height: 350px;
    overflow: hidden;
}

/** Footer **/
footer {
    background: #fff;
}
footer .social-title {
    color: #242a3b;
}
footer .footer-links ul li a:hover {
    color: #181b26;
}
.blog-news {
    display: none;
}
.updates {
    font-size: 18px;
    line-height: 26px;
}
.blog-news {
    padding: 50px 0;
}
.join-newsletter {
    color: #7d91a5;
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #3e465e33;
    background: #FFF;
    transition: 70ms ease-in-out;
    border-radius: 4px;
}
.newsletter {
    position: relative;
}
.newsletter .fab {
    position: absolute;
    top: 0;
}


@media (max-width: 991px) {
    .member {
        margin-bottom: 60px;
    }
    .banner-section {
        padding: 0 0 60px 0;
    }
    .sketch img {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .banner-img,
    .banner-img:before {
        height: 560px;
    }
}


@media (max-width: 576px) { 
    .banner-section .section-title {
        font-size: 3.5rem;
    }
    .sketch-desc {
        padding: 30px;
    }
    .blog-news {
        display: block;
    }
    
}
