
@font-face {
    font-family: Omnes;
    src: url(fonts/Omnes.ttf)
}
@font-face {
    font-family: OmnesExtraLight;
    src: url(fonts/omnes-extralight.otf)
}

body {
    font-family: 'Omnes', sans-serif;
    color: #181b26;
    line-height: 1.5;
    font-size: 100%;
}
img {
    width: 100%;
}
a {
    transition: all .3s ease;
}
.container {
    max-width: 1200px;
    position: relative;
    z-index: 2;
    transition: all .5s ease-in-out;
}
.container-md {
    max-width: 720px;
}
.container-sm {
    max-width: 630px;
}
.container,
.container-md,
.container-sm {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.section-title {
    color: #181b26;
    font-family:'OmnesExtraLight', sans-serif;
    font-size: 36px;
    line-height: 1;
}
.offset-left {
    margin-left: 8%;
}
.head-section {
    background-color: #181b26;
    width: 100%;
}

/*** Navbar ***/
.logo {
    width: 30px;
    height: 30px;
}
.navbar {
    padding: 30px 0;
}
.navbar-collapse {
    padding-top: 3px;
}
.navbar-brand {
    color: #fff;
    margin-right: 30px;
    font-size: 1.35rem;
}
.navbar-brand:hover {
    color: #fff;
}
.navbar-nav a,
.nav-login {
    text-transform: uppercase;
    color: #7d91a5;
    display: inline-block;
    letter-spacing: 2.15px;
    font-size: 14px;
}
.navbar-nav a:hover,
.nav-login:hover {
    color: #fff;
    text-decoration: none;
}
.search-input {
    color: #3c3c46;
    background: #090a0e;
    border: 0;
    width: 140px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 50px;
}
.social-icon {
    color: #8E98A2;
    font-size: 1.2rem;
    padding: 5px 20px 5px 12px;
}
.social-icon:hover {
    color:#3381f3;
}
.sign-up {
    background-color: transparent;
    border: 1px solid #d9dfdb26;
    color: #3381f3;
    border-radius: 50px;
    padding: 10px 30px;
    margin-left: 20px
}
.sign-up:hover {
    border: 1px solid #3381f3;
}


/*** Banner ***/
.banner-section {
    padding-top: 9em;
}
.banner-left {
    padding-right: 2.75rem;
    padding-top: 5rem;
}
.banner-right img {
    width: 125%;
}
.banner-title {
    font-size: 60px;
    color: #fff;
}
.banner-title a {
    color: #3381f3;
    border-bottom: 1px solid #3381f32e;
}
.banner-title a:hover {
    text-decoration: none;
    border-bottom: 1px solid #3381f3;
}
.banner-subtitle {
    color: #a7b7c7;
    font-size: 24px;
}
.get-started,
.section-btn {
    border: 1px solid #3381f3;
    border-radius: 50px;
    color: #fff;
    background-color: #3381f3;
    padding: 13px 45px;
    margin-top: 12px;
    letter-spacing: 2.2px;
    transition: all .3s;
    text-transform: uppercase;
}

/*** Sections ***/
.white-section,
.blue-section {
    padding: 150px 0;
}
.blue-section {
    background-color: #F4F9FC;
}
.blue-title {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4.4px;
    color: #5e50fb;
    margin-bottom: 15px;
}
.subtitle {
    font-family:'OmnesExtraLight', sans-serif;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 32px;
    color: #7d91a5;
}
.section-btn .fas {
    padding-left: 8px;
    color: #0b50b5;
}
.btn-white {
    border-color: #fff;
    background: #fff;
    color: #7d91a5;
    padding: 14px 50px 13px;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    transition: all .3s;
}
.btn-white:hover {
    color: #000;
}
.theme-animation .theme-front img {
    width: 68%;
    z-index: 10;
    top: -30px;
    left: 51%;
    margin-left: -172px;
    transition: all .5s ease-in-out;
    position: absolute;
    /* -webkit-animation:  moveUp 3s infinite  alternate;
    animation: moveUp 3s infinite  alternate; */
}

/* .theme-animation .theme-back img {
    -webkit-animation: moveUp2 3s infinite  alternate;
    animation: moveUp2 3s infinite  alternate;
}
@-webkit-keyframes moveUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); }
}
@keyframes moveUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); }
}
@-webkit-keyframes moveUp2 {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes moveUp2 {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
} */
.testimonial {
    background-color: #6d5cae;
}
.testimonial .testi-box {
    padding-right: 100px;
    padding-left: 22px;
}
.testimonial .quote {
    color: #0000004d;
    padding-top: 90px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4.4px;
    margin-bottom: 15px;
}
.testimonial .quote .fas {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
}
.testimonial .testi-title {
    color: #fff;
    font-size: 36px;
    font-family:'OmnesExtraLight', sans-serif;
}
.testimonial .author {
    font-size: 14px;
    letter-spacing: 2.5px;
    color: #fff;
    opacity: .7;
}
.testimonial .testi-btn {
    margin-top: 60px;
    margin-bottom: 5rem;
}
.testimonial .testi-img {
    position: absolute;
    bottom: 0;
    height: 92%;
}
.feedback {
    padding: 245px 0;
    background-image: url(../images/map.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: top right;
}
.feedback-title {
    font-size: 60px;
    font-weight: 400;
    line-height: 1.1;
}
.feedback .awards {
    list-style-type: none;
    padding-left: 0;
    margin-top: 40px;
}
.feedback .awards li {
    display: inline-block;
    margin-right: 70px;
}
.feedback .awards li .fas {
    display: block;
    color: #315DD9;
    font-size: 2.2em;
}
.feedback .awards li .head {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 10px;
    line-height: 1;
}
.feedback .awards li .subhead {
    color: #a7b7c7;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2.19px;
}
.feedback .dots {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.feedback .dots .dot {
    border-radius: 50%;
    opacity: .8;
    width: 10px;
    height: 10px;
    position: absolute;
}
.feedback .dots .dot-1 {
    top: -115px;
    right: 0px;
    background: #3498db;
}
.feedback .dots .dot-2 {
    top: -98px;
    right: 115px;
    background: #3381f3;
}
.feedback .dots .dot-3 {
    top: 0px;
    right: 195px;
    background: #9b59b6;
}
.feedback .dots .dot-4 {
    top: 13px;
    right: 407px;
    background: #e74c3c;
}
.feedback .dots .dot-5 {
    top: 101px;
    right: 331px;
    background: #f39c12;
}
.feedback .dots .dot-6 {
    top: -24px;
    right: 743px;
    background: #3381f3;
}
.feedback .dots .dot-7 {
    top: -74px;
    right: 847px;
    background: #f39c12;
}
.block {
    max-width: 60%;
    margin: auto;
}
.browse {
    background-color: #1dcdd6;
    background-image: linear-gradient(-135deg,#6176ff 0,#478dec 100%);
    font-size: 1.5rem;
    line-height: 34px;
    margin-top: 0;
    padding: 120px 0;
    color: #fff;
    font-family:'OmnesExtraLight', sans-serif;
}

/*** Footer ***/
footer {
    background-image: linear-gradient(-180deg,#14161f 0,#181B26 37%);
    padding: 80px 0 35px;
    color: #fff;
}
.footer .help .container {
    border-bottom: 1px solid #272e47;
    padding-bottom: 60px;
}
footer .help h3 {
    font-family:'OmnesExtraLight', sans-serif;
    margin-bottom: 0;
}
footer .help .fas {
    font-size: 3rem;
    display: block;
    float: left;
    margin: 8px 20px 0 0;
    color: #315DD9;
}
footer .help .help-sub {
    color: #7d91a5;
    font-size: 18px;
    line-height: 32px;
}
footer .help .help-sub a {
    color: #bfcfde;
}
footer .help .container {
    border-bottom: 1px solid #272e47;
    padding-bottom: 60px;
}
footer .social {
    margin: 60px 0 70px;
}
footer .social-title {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 27px;
    margin: 0;
    padding: 0;
}
footer .social .fas,
footer .social .fab {
    margin-right: 5px;
    font-size: 1.3rem;
}
footer .social .sneak-peeks .fas {
    color: #EA4C89;
}
footer .social .community .fab {
    color: #5975B1;
}
footer .social .community img {
    width: 80%;
    margin-top: 10px;
}
footer .social .mail .fas {
    color: #F8F5F1;
}
footer .social p {
    color: #7d91a5;
}
footer .social p a {
    color: #bebece;
    border-bottom: 1px solid #9292a2;
}
footer .social p a:hover {
    color: #fff;
    text-decoration: none;
}
footer .social .mail .join-newsletter {
    margin-top: 25px;
    border: 0;
    color: #7d91a5;
    background: #272e47;
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    padding: 15px;
    transition: 70ms ease-in-out;
    border-radius: 4px;
}
footer .footer-links ul {
    padding-left: 0;
    list-style: none;
}
footer .footer-links ul li {
    line-height: 19px;
    padding: 10px 0;
}
footer .footer-links ul li a {
    color: #7d91a5;
}
footer .footer-links ul li a:hover {
    color: #fff;
    text-decoration: none;
}
footer .copyright {
    color: #7d91a5;
    margin-top: 20px;
}