<footer>
    {{#global.footer.help.show_or_hide}}
        <div class="help">
            <div class="container">
                <div class="row offset-left">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <i class="fas fa-cog"></i>
                        <h3>{{global.footer.help.title}}</h3>
                        <p class="help-sub">{{global.footer.help.subheader}}</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 help">
                        <p><button class="btn section-btn" style="background-color: {{global.footer.help.btn_color}}">{{global.footer.help.btn_text}}</button></p>
                    </div>
                    
                </div>
            </div>
        </div>
    {{/global.footer.help.show_or_hide}}

    <div class="social footer-links">
        <div class="container">
            <div class="row footer-link">
                <div class="col-md-3 col-sm-12 align-center">
                    <h4 class="social-title">{{global.footer.link_list1.title}}</h4>
                    <ul>
                        {{#global.footer.link_list1.links}}
                            <li><a href="#">{{text}}</a></li>
                        {{/global.footer.link_list1.links}}
                    </ul>
                </div>

                <div class="col-md-3 col-sm-12 align-center">
                    <h4 class="social-title">{{global.footer.link_list2.title}}</h4>
                    <ul>
                        {{#global.footer.link_list2.links}}
                            <li><a href="#">{{text}}</a></li>
                        {{/global.footer.link_list2.links}}
                    </ul>
                </div>

                <div class="col-md-4 offset-md-2 col-sm-12 mail">
                    <h4 class="social-title"><i class="fas fa-envelope"></i>{{global.footer.newsletter.title}}</h4>
                    <p>{{global.footer.newsletter.desc}}</p>
                    <form>
                        <input type="email" name="email" id="email" placeholder="Email Address" class="join-newsletter">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <p class="align-center copyright">
        <img class="logo" src="{{{global.img_logo}}}"/><br>
        {{global.footer.copyright}}
    </p>
    
</footer>