<section class="browse blog-news">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-7 col-sm-12">
              <h2 class="offset-left">Join our Community</h2>
              <p class="updates offset-left">Get updates, freebies, exclusive sneak peeks, and much more!</p>
          </div>
          <div class="col-lg-6 col-md-5 col-sm-12 newsletter">
              <form>
                  <input type="email" name="email" id="email" placeholder="Email Address" class="join-newsletter">
              </form>
          </div>
      </div>
  </div>
</section>