
<!doctype html>
<html lang="en">
  {{>head}}
    <link href="css/about.css" rel="stylesheet">
  </head>

  <body>
        <div class="head-section">
            {{>header}}
            <section class="banner-section">
                <div class="container">
                    <div class="align-center">
                        <p class="blue-title">{{page.hero_section.subheader}}</p>
                        <h1 class="section-title">{{page.hero_section.title}}</h1>
                        <p class="sub-hero">{{page.hero_section.description}}</p>
                    </div>
                </div>
            </section>
        <div class="banner-img" style="background-image: url({{page.hero_section.img_bg}});"></div>
        </div>

    <main>
        <section class="white-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 order-md-2 col-sm-12 sketch-desc">
                        <p class="blue-title">{{page.section1.subheader}}</p>
                        <h2 class="section-title">{{page.section1.title}}</h2>
                        <p class="subtitle">{{page.section1.description}}</p>
                    </div>
                    <div class="col-lg-5 col-md-5 order-md-1 col-sm-12">
                        <p class="sketch">
                            <img src="{{{page.section1.img_thumbnail}}}"/>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="blue-section">
            <div class="container">
                <p class="blue-title align-center">{{page.section2.subheader}}</p>
                <h1 class="team-title align-center">{{page.section2.title}}</h1>
                <div class="row team">
                    {{#page.section2.team}}
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="member">
                                <div class="member-img">
                                    <img src="{{{img_member}}}"/>
                                </div>
                                <div class="member-info">
                                    <p><span class="position">{{position}}</span></p>
                                    <h4 class="member-name">{{name}}</h4>
                                    <span class="address">{{address}}</span>
                                </div>
                            </div>
                        </div>
                    {{/page.section2.team}}
                </div>
            </div>
        </section>

        <section class="white-section no-padding">
            <div class="container">
                <p class="blue-title align-center">{{page.section3.subheader}}</p>
                <h1 class="team-title align-center block">{{page.section3.title}}</h1>
            </div>
            <div class="container-fluid image-list">
                <div class="row" id="img_list">
                </div>
            </div>
        </section>

        <section class="browse">
            <div class="container align-center">
                <h2>{{page.section4.title}}</h2>
                <p>{{page.section4.description}}</p>
                <p><button class="btn btn-white" style="background-color: {{page.section4.btn_color}}">{{page.section4.btn_text}}</button></p>
            </div>
        </section>
 
        <section class="blog-news align-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 col-sm-12">
                        <h2 class="offset-left">{{page.section5.title}}</h2>
                        <p class="updates offset-left">{{page.section5.sub}}</p>
                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-12 newsletter">
                        <form>
                            <input type="email" name="email" id="email" placeholder="Email Address" class="join-newsletter">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {{>footer}}

    <script type="text/javascript">
        window.__PRELOADED__={{{preloaded}}}
    </script>

    <!-- Vertex library for enabling site updates from https://www.vertex360.co -->
    <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/vertex.min.js"></script>

    {{>scripts}}

    <script type="text/javascript">
        (function(){
        
            var data = window.__PRELOADED__;
            var pageData = data.page;
            var images = pageData.section3.img_list;
            var imagesArr = images.split(",");
            var imageHTML = "";
            imagesArr.forEach(function(image, i) {
                imageHTML += '<div class="col-lg-4 col-md-4 col-sm-12 list"> <img src="' + image + '=s520"/> </div>';
                console.log(imageHTML)
            })
            $("#img_list").html(imageHTML);
        })()
    </script>
  </body>
</html>
