
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{global.name}}</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/aos.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/about.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  <body>
        <div class="head-section">
            {{>header}}
            <section class="banner-section">
                <div class="container">
                    <div class="align-center">
                        <p class="blue-title">{{page.hero.blue}}</p>
                        <h1 class="section-title">{{page.hero.title}}</h1>
                        <p class="sub-hero">{{page.hero.sub}}</p>
                    </div>
                </div>
            </section>
        <div class="banner-img" style="background-image: url({{page.hero.bg}});"></div>
        </div>

    <main>
        <section class="white-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 order-md-2 col-sm-12 sketch-desc">
                        <p class="blue-title">{{page.section1.blue}}</p>
                        <h2 class="section-title">{{page.section1.title}}</h2>
                        <p class="subtitle">{{page.section1.sub}}</p>
                    </div>
                    <div class="col-lg-5 col-md-5 order-md-1 col-sm-12">
                        <p class="sketch">
                            <img src="{{page.section1.img}}">
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="blue-section">
            <div class="container">
                <p class="blue-title align-center">{{page.section2.blue}}</p>
                <h1 class="team-title align-center">{{page.section2.title}}</h1>
                <div class="row team">
                    {{#page.section2.team}}
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="member">
                                <div class="member-img">
                                    <img src="{{img}}">
                                </div>
                                <div class="member-info">
                                    <p><span class="position">{{position}}</span></p>
                                    <h4 class="member-name">{{name}}</h4>
                                    <span class="address">{{address}}</span>
                                    <ul class="social-links">
                                        <li><a href="#"><i class="{{link1}}"></i></a></li>
                                        <li><a href="#"><i class="{{link2}}"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {{/page.section2.team}}
                </div>
            </div>
        </section>

        <section class="white-section no-padding">
            <div class="container">
                <p class="blue-title align-center">{{page.section3.blue}}</p>
                <h1 class="team-title align-center block">{{page.section3.title}}</h1>
            </div>
            <div class="container-fluid image-list">
                <div class="row">
                    {{#page.section3.list1}}
                        <div class="col-lg-4 col-md-4 col-sm-12 list">
                            <img src="{{src}}">
                        </div>
                    {{/page.section3.list1}}
                </div>
                <div class="row">
                    {{#page.section3.list2}}
                        <div class="col-lg-4 col-md-4 col-sm-12 list">
                            <img src="{{src}}">
                        </div>
                    {{/page.section3.list2}}
                </div>
            </div>
        </section>

        <section class="browse">
            <div class="container align-center">
                <h2>{{page.section4.title}}</h2>
                <p>{{page.section4.sub}}</p>
                <p><button class="btn btn-white">{{page.section4.btn}}</button></p>
            </div>
        </section>
 
        <section class="blog-news align-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 col-sm-12">
                        <h2 class="offset-left">{{page.section5.title}}</h2>
                        <p class="updates offset-left">{{page.section5.sub}}</p>
                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-12 newsletter">
                        <form>
                            <input type="email" name="email" id="email" placeholder="Email Address" class="join-newsletter">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {{>footer}}

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
