<!doctype html>
<html lang="en">
  {{>head}}
    <link href="/css/blog.css" rel="stylesheet">
  </head>

  <body>
        <div class="head-section">
            {{>header}}
            <section class="banner-section">
                <div class="container">
                    <div class="align-center" >
                        <p class="blue-title">Featured</p>
                        <h1 class="section-title">{{post.title}}</h1>
                        <div class="post">
                            <ul class="post-details">
                                <li>{{post.dateString}}</li>
                            </ul>
                        </div>
                        <p><button class="btn btn-white"><a href="/post/{{post.slug}}">Read More</a></button></p>
                    </div>
                </div>
            </section>
        <div class="banner-img"></div>
        </div>

    <main>
        <section class="white-section">
            <div class="container">
                <div class="blog-post">
                    <div class="row">
                        {{#posts}}
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="blog-box">
                                <div class="blog-header" style="background-image: url({{{image}}})"></div>
                                <div class="blog-content">
                                    <h3 class="section-title"><a href="/post/{{slug}}">{{title}}</a></h3>
                                    <p class="blog-date">{{dateString}}</p>
                                </div>
                            </div>
                        </div>
                        {{/posts}}
                    </div>
                </div>
            </div>
        </section>

        {{>newsletter}}
    </main>

    {{>footer}}

    {{>scripts}}
  </body>
</html>
