
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Astoundify</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/aos.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  <body>
      <div class="head-section">
        {{>header}}
        <section class="banner-section" data-aos="fade-up" data-aos-duration="1000">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 banner-left">
                        <h1 class="section-title banner-title">{{page.hero.title}}
                            <a href="#">{{page.hero.title-a}}</a>
                        </h1>
                        <p class="banner-subtitle">{{page.hero.desc}}</p>
                        <p class="banner-btn"><button class="btn get-started">{{page.hero.btn}}</button></p>

                        <div class="legend">
                            <p><a href="#">{{page.hero.legend.text1}}</a></p>
                            <p class="sub">{{page.hero.legend.text2}}</p></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 banner-right">
                        <div class="banner-frame">
                            <img class="home-img" src="{{page.hero.img}}" alt=""> 
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
      </div>

    <main>
        <section class="white-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 order-md-2 col-sm-12">
                        <p class="blue-title">{{page.section1.blue}}</p>
                        <h2 class="section-title">{{page.section1.title}}</h2>
                        <p class="subtitle">{{page.section1.sub}}</p>
                        <p class="banner-btn"><button class="btn section-btn">{{page.section1.btn}}<i class="fas fa-arrow-right"></i></button></p>
                    </div>
                    <div class="col-lg-5 col-md-5 order-md-1 col-sm-12">
                        <div class="theme-animation">
                            <div class="theme-front" data-aos="fade-up" data-aos-duration="3000">
                                <img src="{{page.section1.img1}}">
                            </div>
                            <div class="theme-back" data-aos="fade-down" data-aos-duration="1500">
                                <img src="{{page.section1.img2}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="blue-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-12">
                        <p class="blue-title">{{page.section2.blue}}</p>
                        <h2 class="section-title">{{page.section2.title}}</h2>
                        <p class="subtitle">{{page.section2.sub}}</p>
                        <p class="banner-btn"><button class="btn section-btn">{{page.section2.btn}}<i class="fas fa-arrow-right"></i></button></p>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <div class="icons">
                            {{#page.section2.icons}}
                                <span><img class="{{class}}" src="{{src}}" data-aos="{{fade}}" data-aos-duration="{{time}}"></span>
                            {{/page.section2.icons}}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-67 col-sm-12">
                        <div class="align-center testi-box">
                            <p class="quote"><i class="fas fa-quote-left"></i>{{page.section3.blue}}</p>
                            <h3 class="testi-title">{{page.section3.title}}</h3>
                            <p class="author">{{page.section3.sub}}</p>
                            <p class="testi-btn"><button class="btn btn-white">{{page.section3.btn}}</button></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img class="testi-img" src="{{page.section3.img}}" alt=""> 
                    </div>
                </div>
            </div>
        </section>

        <section class="feedback">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 offset-left">
                        <p class="blue-title">{{page.section4.blue}}</p>
                        <h2 class="section-title feedback-title">{{page.section4.title}}</h2>
                        <ul class="awards">
                            {{#page.section4.lists}}
                                <li>
                                    <i class="fas fa-award"></i>
                                    <p class="head">{{desc}}</p>
                                    <p class="subhead">{{sub}}</p>
                                </li>
                            {{/page.section4.lists}}
                        </ul>
                    </div>
                    <div class="dots">
                        {{#page.section4.dots}}
                            <span class="{{class}}"></span>
                        {{/page.section4.dots}}
                    </div>
                </div>
            </div>
        </section>

        <section class="blue-section blog">
            <div class="container">
                <div class="block">
                    <p class="blue-title align-center">{{page.section5.blue}}</p>
                    <h2 class="section-title feedback-title align-center">{{page.section5.title}}</h2>
                </div>
                
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 tile">
                        <div class="featured"> 
                            <div class="featured-desc">
                                <p><span class="category">{{page.section5.tile.tile1.cat}}</span></p>
                                <h3 class="section-title">{{page.section5.tile.tile1.title}}</h3>
                                <p>{{page.section5.tile.tile1.date}} <a href="#">{{page.section5.tile.tile1.name}}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 tile">
                        <div class="featured social-feed align-center">
                            <p><i class="fab fa-facebook-f"></i></p>
                            <p class="blue-title">{{page.section5.tile.tile2.title}}</p>
                            <p><span class="handle">{{page.section5.tile.tile2.handle}}</span></p>
                            <p><button class="btn btn-white">{{page.section5.tile.tile2.btn}}</button></p>
                        </div>
                    </div>
                </div>
                <div class="row new-row">
                    <div class="col-lg-4 col-md-4 col-sm-12 tile">
                        <div class="featured social-feed twitter align-center">
                            <p><i class="fab fa-twitter"></i></i></p>
                            <p class="blue-title">{{page.section5.tile.tile2.title}}</p>
                            <p><span class="handle">{{page.section5.tile.tile2.handle}}</span></p>
                            <p><button class="btn btn-white">{{page.section5.tile.tile2.btn}}</button></p>
                        </div>
                    </div>
                    {{#page.section5.tiles}}
                        <div class="col-lg-4 col-md-4 col-sm-12 tile">
                            <div class="{{class}}">
                                <div class="featured-desc">
                                    <p><span class="category">{{cat}}</span></p>
                                    <h3 class="section-title">{{title}}</h3>
                                    <p>{{date}} <a href="#">{{name}}</a></p>
                                </div>
                            </div>
                        </div>
                    {{/page.section5.tiles}}
                </div>
                <p class="blog-btn align-center"><button class="btn btn-white">{{page.section5.btn}}</button></p>
            </div>
        </section>

        <section class="browse">
            <div class="container align-center">
                <h2>{{page.section6.title}}</h2>
                <p>{{page.section6.sub}}</p>
                <p><button class="btn btn-white">{{page.section6.btn}}</button></p>
            </div>
        </section>

    </main>

    {{>footer}}

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
