
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{global.name}}</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/aos.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/blog.css" rel="stylesheet">
    <link href="css/single.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  <body>
        <div class="head-section">
            {{>header}}
            <section class="banner-section">
                <div class="container">
                    <div class="align-center" >
                        <h1 class="section-title">{{page.hero.title}}</h1>
                        <div class="post">
                            <p class="align-center author">by<a href="#">{{page.hero.name}}</a></p>
                            <ul class="post-details">
                                <li><a href="#">{{page.hero.cat}}</a></li>
                                <li>{{page.hero.date}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        <div class="banner-img"></div>
        </div>

    <main>
        <section class="blog-meta">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 blog-col reading">
                        <span class="blog-head">{{page.section1.meta.list1.title}}</span>
                        <p>{{page.section1.meta.list1.sub}}</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 blog-col blog-share">
                        <a href="#" class="blog-twitter"><i class="fab fa-twitter"></i>{{page.section1.meta.list2.social1}}</a>
                        <a href="#" class="blog-fb"><i class="fab fa-facebook-f"></i>{{page.section1.meta.list2.social2}}</a>
                        <input type="text" value="https://astoundify.com/?p=59851">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 blog-col blog-comments">
                        <span class="blog-head">{{page.section1.meta.list3.title}}</span>
                        <a href="#comments" class="comment-count"><i class="fas fa-comment"></i>{{page.section1.meta.list3.sub}}</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="blue-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 container-post">
                        <p>{{page.section3.content.p}} <a href="#">{{page.section3.content.p-a}}</a>, 
                            {{page.section3.content.p2}} <a href="#">{{page.section3.content.p-a2}}</a>. {{page.section3.content.p3}}</p>

                        <p> {{page.section3.content2.p}} <a href="#">{{page.section3.content2.p-a}}</a> 
                            {{page.section3.content2.p2}} <a href="#">{{page.section3.content2.p-a2}}</a> 
                            on <strong>{{page.section3.content2.p3}}</strong>.</p>

                        <div class="embed-video">
                            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FAstoundify%2Fvideos%2F1010331349067882%2F&width=760&show_text=true&height=505&appId" width="760" height="505" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
                        </div>

                        <div>
                            <span><a href="#" class="tag">{{page.section3.cat}}</a></span>
                            <div class="author-box">
                                <div class="author-info">
                                    <img src="{{page.section3.author.img}}">
                                    <h4>{{page.section3.author.name}}</h4>
                                    <p>{{page.section3.author.position}}</p>
                                </div>
                                <button class="btn btn-white btn-load">{{page.section3.author.btn}}</button>
                            </div>
                        </div>

                        <div class="prev-post">
                            <span><a href="#"><i class="fas fa-chevron-left"></i>{{page.section3.prev.nav}}</a></span>
                            <h4>{{page.section3.prev.text}}</h4>
                        </div>

                        <div id="comments" class="comments">
                            <div class="comment-box">
                                <p class="comment-author">
                                    <img src="{{page.section3.comments.img}}">
                                    <span class="name">{{page.section3.comments.name}}</span>
                                </p>
                                <p class="time-stamp"><span>{{page.section3.comments.time}}</span></p>
                                <div class="comment-body">
                                    <p>{{page.section3.comments.body}}</p>
                                    <div class="replies">
                                        <a href="#" class="reply-view">{{page.section3.comments.reply}}<i class="fas fa-comment"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="browse blog-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 col-sm-12">
                        <h2 class="offset-left">{{page.section2.title}}</h2>
                        <p class="updates offset-left">{{page.section2.sub}}</p>
                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-12 newsletter">
                        <form>
                            <input type="email" name="email" id="email" placeholder="Email Address" class="join-newsletter">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {{>footer}}

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
