header {
    position: relative;
    z-index: 10;
} 
a:hover {
    text-decoration: none;
}
.banner-img {
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-size: cover;
    animation: fadeIn ease-in .75s forwards;
    display: block;
    height: 580px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.banner-img:before {
    content: '';
    width: 100%;
    position: absolute;
    height: 580px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
.btn-white a {
    color: #7d91a5;
}
.banner-section {
    padding: 70px 0 120px;
}
.banner-section .section-title {
    font-size: 46px;
    line-height: 50px;
    color: #fff;
    margin: 0 auto;
    max-width: 65%;
}
.post {
    margin-top: 20px;
}
.post .author {
    color: #7d91a5;
}
.post .author a {
    font-size: 14px;
    line-height: 32px;
    color: #3381f3;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-left: 3px;
}
.post-details {
    margin: 5px 0 40px;
    padding: 0;
    list-style: none;
}
.post-details li {
    display: inline-block;
    border-right: 1px solid rgba(94,94,106,.6);
    margin-right: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 32px;
    color: #9292A2;
}
.post-details li a {
    color: #9292A2;
}
.post-details li:last-child {
    border-right: 0;
    margin-right: 0;
}
.blog-post {
    margin-top: 65px;
}
.sort-list {
    text-align: center;
    margin-bottom: 65px;
    list-style: none;
}
.sort-list li {
    display: inline-block;
}
.sort-list li a {
    border-left: 0;
    border-bottom: 1px solid #E5EBE7;
    padding: 0 25px 15px;
    font-size: 14px;
    color: #a7b7c7;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    transition: none;
}
.sort-list li.active a {
    border-color: #3381f3;
    border-bottom-width: 2px;
}
.blog-box {
    margin-bottom: 2.6rem;
}
.blog-header {
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-height: 135px;
    width: 100%;
    position: relative;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.04);
    border-bottom: 0;
    margin-top: 0;
    z-index: 9;
}
.header-1,
.header-6 {
    background-image: url(../images/bg1.jpg)
}
.header-2,
.header-4 {
    background-image: url(../images/bg2.jpg);
    background-position: center;
}
.header-3 {
    background-image: url(../images/bg3.jpg);
    background-position: center;
}
.header-5 {
    background-image: url(../images/blog-hero.jpg);
    background-position: center;
}
.header-7,
.header-8,
.header-9,
.header-10 {
    background-image: url(../images/bg4.png);
    background-position: center;
}
.blog-category {
    position: absolute;
    top: 10px;
    right: 10px;
}
.blog-category a {
    background: #FFF;
    font-size: 12px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 5px;
    padding: 2px 10px;
    border-radius: 4px;
    color: #3381f3;
}
.blog-box .blog-icon {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translatex(-50%);
}
.blog-box .blog-icon img {
    width: 45px;
    height: 45px;
}
.blog-author a {
    font-size: 14px;
    color: #1dcdd6;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    display: block;
    bottom: -50px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.blog-content {
    padding: 70px 25px 25px;    
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    background: #fff;
    box-shadow: 0 3px 6px 0 rgba(36,42,59,.12);
    position: relative;
    height: 280px;
}
.blog-content h3 a {
    color: #535A56;
}
.blog-date {
    margin: 0;
    color: #AFB6B1;
    font-size: 18px;
    line-height: 32px;
}
.btn-load {
    margin-top: 75px;
    background-color: transparent;
    border: 1px solid #dee8f2;
    color: #3381f3;
}
.updates {
    font-size: 18px;
    line-height: 26px;
}
.blog-news {
    padding: 50px 0;
}
.join-newsletter {
    margin-left: 3rem;
    color: #7d91a5;
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #3e465e33;
    background: #FFF;
    transition: 70ms ease-in-out;
    border-radius: 4px;
}
.newsletter {
    position: relative;
}
.newsletter .fab {
    position: absolute;
    top: 0;
}
/** Footer **/
footer {
    background: #fff;
}
footer .social-title {
    color: #242a3b;
}
footer .footer-links ul li a:hover {
    color: #181b26;
}
footer .help {
    display: none;
}
footer .social .mail .fas {
    color: #7d91a5;
}
footer .social .mail .join-newsletter {
    margin-left: 0;
    margin-top: 0;
    color: #272e47;
    background: #d0d6ea;
}


@media (max-width: 768px) {
    .blog-news {
        text-align: center;
    }
    .join-newsletter {
        margin-left: 0;
        width: 80%;
    }
    .banner-section {
        padding-bottom: 60px;
    }
    .banner-img,
    .banner-img:before {
        height: 660px;
    }
    .blog-content h3 a {
        font-size: 26px;
    }
}

@media (max-width: 576px) {
    .banner-img,
    .banner-img:before {
        height: 760px;
    }
    .banner-section {
        padding-top: 0;
    }
    .sort-list {
        text-align: left;
        padding-left: 0;
        margin-bottom: 40px;
    }
    .sort-list li {
        display: block;
    }
    .sort-list li a {
        border-bottom: none;
    }
    .sort-list li.active {
        border-left: 2px solid #3381f3;
    }
    .blog-news {
        border-top: 1px solid #9292a24d;
    }
    .blog-content {
        height: 250px;
    }
}